#include:
#  - project: "admins/web-app-hosting/docker-host-deployer"
#    file: "/.gitlab-ci.yml"
#    ref: master
#    rules:
#      - if: "$CI_COMMIT_BRANCH == 'main'"

.services-matrix:
  parallel:
    matrix:
      - SERVICE_DIR: "api"
      - SERVICE_DIR: "pwa"

stages:
  - build
  # Disable until there is a way how to inject secrets securly
  #  - deploy_to_sh_docker_host

build:
  extends: [".services-matrix"]
  image: quay.io/buildah/stable
  stage: build
  variables:
    STORAGE_DRIVER: vfs
    BUILDAH_FORMAT: docker
    IMAGE: $CI_REGISTRY_IMAGE/$SERVICE_DIR
    IMAGE_TAG: $IMAGE:$CI_COMMIT_SHORT_SHA
    IMAGE_TAG_BRANCH: $IMAGE:$CI_COMMIT_REF_SLUG
  before_script:
    - echo "$CI_REGISTRY_PASSWORD" | buildah login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  script:
    # Remove "--link" since it is not supported by buildah
    - sed -i s/--link// $SERVICE_DIR/Dockerfile
    - buildah build
      --layers
      --cache-from $IMAGE-cache
      --cache-to $IMAGE-cache
      --tag "$IMAGE_TAG"
      --tag "$IMAGE_TAG_BRANCH"
      --file $SERVICE_DIR/Dockerfile
      --target prod
      ./$SERVICE_DIR
    - buildah push $IMAGE_TAG
    - buildah push $IMAGE_TAG_BRANCH
  rules:
    - if: "$CI_COMMIT_BRANCH == 'main'"
      changes:
        - $SERVICE_DIR/**/*
        - .gitlab-ci.yml

# deploy_to_sh_docker_host_job:
#   environment:
#     url: https://domain.com
