<div style="padding: 10px 20px; border-top: solid #D93C37 5px; max-width:600px; font-family: sans-serif; font-size: 10pt; line-height: 140%">
	<p style="text-align: right">
		<em>English version is in second part of this message.</em>
	</p>
	<p>
		Vážení členové klubu Silicon Hill,
	</p>
	<p>
		právě probíhají volby do představenstva klubu Silicon Hill. Volby postoupily do fáze, kdy právě vy – členové, můžete rozhodnout o budoucnosti klubu. Nového zástupce volte níže uvedeným způsobem
	</p>
	<p>
		<strong>Pokyny pro hlasování:</strong>
	</p>
	<div style="border: solid #888 3px; padding: 10px;">
		<p style="margin: 0 0 10px 0;">
			Elektronické hlasování probíhá od 9. 4. 2025 do 13. 4. 2025.
		</p>
		<p style="margin: 10px 0 0 0;">
			Hlasování můžete provést na
			<strong style="font-size: 110%">
				<a href="https://election.sh.cvut.cz">https://election.sh.cvut.cz</a>
			</strong>
			pomocí svého uživatelského účtu v systému IS. Hlasovat můžete z libovolného počítače, ale pouze jedenkrát.
		</p>
	</div>
	<p style="font-size: 90%">
		Každému z kandidátů můžete dát svůj hlas pro, případně proti nebo se k němu nevyjádřit. Při vyhodnocování výsledků se nejprve vyřadí ti kandidáti, kteří nezískali více hlasů pro než proti. Vítězem voleb bude pak ten kandidát s nejvyšším počtem hlasů pro, v případě shody hlasů, rozhoduje o vítězi nižší počet hlasů proti. Více k hlasování se můžete dočíst ve
		<a href="https://zapisy.sh.cvut.cz/prilohy/20240515-Volebni-rad-klubu-Silicon-Hill.pdf">Volebním řádu klubu Silicon Hill</a>.
	</p>
	<p>
		S pozdravem<br>
		Volební komise<br>
		<a href="https://volby.sh.cvut.cz">https://volby.sh.cvut.cz</a>
	</p>

	<br>
	<hr>
	<br>

	<p>

		Dear Silicon Hill club members.
	</p>
	<p>
		General elections for positions of representatives are being held to the board of Silicon Hill club.
						        It is time now for You, our members, to choose your representatives. Representatives, that will fight for Your rights. 
						        The weightiness of their mandates is only up to You. The more of You will vote, the greater will be the influence of your representatives.
	</p>
	<p>
		<strong>And now some informational stuff:</strong>
	</p>
	<div style="border: solid #888 3px; padding: 10px;">
		<p style="margin: 0 0 10px 0;">
			You can electronically vote from March 9, 2025, till March 13, 2025.
		</p>
		<p style="margin: 10px 0 0 0;">
			Voting can be done on
			<strong style="font-size: 110%">
				<a href="http://election.sh.cvut.cz?lang=en">http://election.sh.cvut.cz</a>
			</strong>
			using your user account in IS. You can vote from any computer, but only once.
		</p>
	</div>
	<p style="font-size: 90%">
		You can vote in favour, against or leave it undecided for each of the candidates. The winners will be the candidates with the most positive votes or, in case of a draw, the winner will be the candidate with less negative votes. In case that candidate has a negative difference of votes, he won't be elected.
		<a href="https://zapisy.sh.cvut.cz/prilohy/20201103-Priloha-1-Volebni_rad_klubu_Silicon_Hill.pdf">More details about voting and elections</a>
		(only in Czech).
	</p>
	<p>
		With kind regards<br>
		Electoral Committee<br>
		<a href="https://volby.sh.cvut.cz">https://volby.sh.cvut.cz</a>
	</p>
</div>
