<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"> {% block stylesheets %}{% endblock %}{% block javascripts %}{% endblock %}
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
	</head>
	<body>
		{% block body %}{% endblock %}
	</body>
</html>
