{
	{$CADDY_GLOBAL_OPTIONS}

	frankenphp {
		{$FRANKENPHP_CONFIG}
	}
}

{$CADDY_EXTRA_CONFIG}

{$SERVER_NAME:localhost} {
	log {
		# Redact authorization tokens passed in query parameters
		format filter {
			request>uri query {
				replace authorization REDACTED
			}
		}
	}

	root * /app/public
	encode zstd br gzip

	handle_path /api/public/media/* {
		root *  /app/public/media/
		file_server
	}

	vulcain

	# Add a link to the API docs if not set explicitly (e.g. the PWA)
	header ?Link `</api/docs.jsonld>; rel="http://www.w3.org/ns/hydra/core#apiDocumentation"`
	# Disable Topics tracking if not enabled explicitly: https://github.com/jkarlin/topics
	header ?Permissions-Policy "browsing-topics=()"

	# Matches the homepage regardless of Accept, HTML documents, static files and Next.js files,
	# except for known API paths and paths with extensions handled by API Platform
	@pwa expression `(
			header({'Accept': '*text/html*'})
			&& !path(
				'/api/*', '/graphql*', '/bundles*', '/contexts*', '/_profiler*', '/_wdt*',
				'*.json*', '*.html', '*.csv', '*.yml', '*.yaml', '*.xml'
			)
		)
		|| path('/', '/favicon.ico', '/manifest.json', '/robots.txt', '/sitemap*', '/_next*', '/__next*', "/assets/*")
		|| query({'_rsc': '*'})`

	# Comment the following line if you don't want Next.js to catch requests for HTML documents.
	# In this case, they will be handled by the PHP app.
	reverse_proxy @pwa http://{$PWA_UPSTREAM}

	php_server
}
